<div class="stats">
    <div class="skills">
        <div class="skill skill1">
            <span>Skill Bar: </span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100" style="width: {{skills}}%">{{skills}}</div>
            </div>
        </div>
        <div class="skill skill2">
            <span>Fazers: </span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{fazer}}%">{{fazer}}</div>
            </div>
        </div>
    </div>
</div>